---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >HEY</span
  >
  <a href="https://api.whatsapp.com/send?phone=522203122595&text=%C2%A1Hola!%20Quiero%20colaborar%20en%20Aurense.com" class="text-muted hover:underline dark:text-slate-400 font-medium" target="_blank" rel="noopener"
    title="¿Te gustaría ser colaborador Aurense? »"
    >¿Te gustaría ser colaborador Aurense? »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="ltr:ml-auto rtl:mr-auto w-[5.6rem] h-[1.25rem] ml-auto bg-contain inline-block bg-[url(https://img.shields.io/youtube/channel/subscribers/UCKqc3lalWeYVAGiHN0oQWGQ?style=social&label=Seguidores)]"
    title="Síguenos en Youtube."
    href="https://www.youtube.com/@aurensemx"
  >
  </a>
</div>
