---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Aurense — Compartimos la belleza, historia, cultura, negocios, noticias y eventos de El Oro, Pueblo Mágico Minero del Estado de México',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero 
    image={{
      src: '~/assets/images/palacio_municipal_el_oro_sXX.jpg',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">
      Descubre lo que <span class="text-accent text-yellow-600 dark:text-white">El Oro</span>
      <span class="hidden xl:inline">- Pueblo Mágico Minero del Estado de México -</span> tiene para ti
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        En <span class="font-semibold">Aurense</span> compartimos la belleza, historia, cultura, actividades, negocios, noticias y eventos de El Oro, Estado de México.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-yellow-600">Pueblo Mágico Minero</span>
      Aquí podrás encontrar todos los contactos que necesitas para vivir como un verdadero Aurense.
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Atractivos turísticos"
    information={`Descubre los lugares más emblemáticos de El Oro, Estado de México, y sumérgete en su rica historia y cultura. ¡En El Oro te recibimos con los brazos abiertos!
                `}
  />

  <!-- Note Widget ******************* -->

  <Note title="Facto:" description="Si está en El Oro, está en Aurense.com" />

  
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Por qué Aurense.com?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: '¿Es gratis?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: '¿Qué requisitos debe cumplir mi emprendimiento?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "Mi emprendimiento es sobre X ¿Puede estar publicado en el sitio?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Visitas', amount: '132K' },
      { title: 'Reacciones', amount: '24.8K' },
      { title: 'Lugares', amount: '10.3K' },
      { title: 'Usuarios', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Quiero más información',
        href: 'https://api.whatsapp.com/send?phone=522203122595&text=%C2%A1Hola!%20Quiero%20que%20mi%20emprendimiento%20aparezca%20en%20Aurense.com',
        target: '_blank',
        icon: 'tabler:phone-call',
      },
    ]}
  >
    <Fragment slot="title">
      Tu emprendimiento&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Aurense.com</span>
    </Fragment>

    <Fragment slot="subtitle">
      Democratizamos el acceso a las tecnologías de la información.<br class="hidden md:inline" /> Oportunidades de crecimiento ¡sin costo!
    </Fragment>
  </CallToAction>
</Layout>
